In [178]:
import pandas as pd

In [179]:
df2 = pd.read_csv('assignment.csv')

In [180]:
df2

,Unnamed: 0,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

In [181]:
df2.columns

Index(['Unnamed: 0', 'IMBD title ID', 'Original titlÊ', 'Release year',
       'Genrë¨', 'Duration', 'Country', 'Content Rating', 'Director',
       'Unnamed: 8', 'Income', ' Votes ', 'Score'],
      dtype='object')

In [182]:
df2.rename(columns = {'Unnamed: 0': 'unnamed', 'IMBD title ID': 'imdb_title_id', 'Original titlÊ':'original_title', 'Release year':'release_year',
       'Genrë¨':'genre', 'Duration':'duration', 'Country':'country', 'Content Rating':'content_rating', 'Director':'director',
       'Unnamed: 8':'unnamed:8', 'Income':'income', ' Votes ':'votes', 'Score':'score'}, inplace = True)

In [183]:
df2

,unnamed,imdb_title_id,original_title,release_year,genre,duration,country,content_rating,director,unnamed:8,income,votes,score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

In [184]:
del df2['unnamed:8']

In [185]:
df2['imdb_title_id'] = df2['imdb_title_id'].str.replace('tt', '')

In [186]:
df2

,unnamed,imdb_title_id,original_title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,0,0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,1,0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,2,0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,3,0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,97,0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,99,1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,100,0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [187]:
df2.rename(columns = {'Original_title':'original_title'}, inplace = True)

In [188]:
date_format = '%y-%m-%d'

In [189]:
df2['release_year'] = pd.to_datetime(df2['release_year'], errors='coerce')

C:\Users\USER\AppData\Local\Temp\ipykernel_18800\2514538662.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df2['release_year'] = pd.to_datetime(df2['release_year'], errors='coerce')

In [190]:
df2

,unnamed,imdb_title_id,original_title,release_year,genre,duration,country,content_rating,director,income,votes,score
0,0,0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3
1,1,0068646,The Godfather,1972-09-21,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2
2,2,0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.
3,3,0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5
97,97,0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5
98,98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4
99,99,1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4
100,100,0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4

In [191]:
df2.genre

0                           Drama
1                    Crime, Drama
2            Action, Crime, Drama
3                    Crime, Drama
4                    Crime, Drama
                  ...
96           Comedy, Crime, Drama
97     Adventure, Drama, Thriller
98                        Western
99                          Drama
100      Comedy, Musical, Romance
Name: genre, Length: 101, dtype: object

In [192]:
df2[['genre_new', 'genre1']] = df2.genre.str.split(",", n=1, expand = True)

In [193]:
df2

,unnamed,imdb_title_id,original_title,release_year,genre,duration,country,content_rating,director,income,votes,score,genre_new,genre1
0,0,0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,Drama,None
1,1,0068646,The Godfather,1972-09-21,"Crime, Drama",175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,Crime,Drama
2,2,0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,Action,"Crime, Drama"
3,3,0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",Crime,Drama
4,4,0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",Crime,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,Comedy,"Crime, Drama"
97,97,0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,Adventure,"Drama, Thriller"
98,98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,Western,None
99,99,1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,Drama,None
100,100,0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,Comedy,"Musical, Romance"

In [194]:
del df2['genre1']

In [195]:
del df2['genre']

In [199]:
df2.rename(columns = {'genre_new': 'genre'})

,imdb_title_id,original_title,release_year,duration,country,content_rating,director,income,votes,score,genre
0,0111161,The Shawshank Redemption,1995-02-10,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,Drama
1,0068646,The Godfather,1972-09-21,175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,Crime
2,0468569,The Dark Knight,2008-07-23,152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,Action
3,0071562,The Godfather: Part II,1975-09-25,220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",Crime
4,0110912,Pulp Fiction,1994-10-28,,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",Crime
...,...,...,...,...,...,...,...,...,...,...,...
96,0070735,The Sting,1974-03-21,129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,Comedy
97,0082096,Das Boot,1982-03-18,149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,Adventure
98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,Western
99,1832382,Jodaeiye Nader az Simin,2011-10-21,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,Drama
100,0045152,Singin' in the Rain,1953-02-05,103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,Comedy

In [197]:
del df2['unnamed']

In [200]:
df2

,imdb_title_id,original_title,release_year,duration,country,content_rating,director,income,votes,score,genre_new
0,0111161,The Shawshank Redemption,1995-02-10,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,Drama
1,0068646,The Godfather,1972-09-21,175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,Crime
2,0468569,The Dark Knight,2008-07-23,152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,Action
3,0071562,The Godfather: Part II,1975-09-25,220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",Crime
4,0110912,Pulp Fiction,1994-10-28,,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",Crime
...,...,...,...,...,...,...,...,...,...,...,...
96,0070735,The Sting,1974-03-21,129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,Comedy
97,0082096,Das Boot,1982-03-18,149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,Adventure
98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,Western
99,1832382,Jodaeiye Nader az Simin,2011-10-21,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,Drama
100,0045152,Singin' in the Rain,1953-02-05,103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,Comedy

In [201]:
country_mapping = {
    'USA': 'USA',
    'US': 'USA',
    'US.': 'USA'}

In [203]:
df2['country'] = df2['country'].replace(country_mapping)

In [202]:
df2

,imdb_title_id,original_title,release_year,duration,country,content_rating,director,income,votes,score,genre_new
0,0111161,The Shawshank Redemption,1995-02-10,142,USA,R,Frank Darabont,$ 28815245,2.278.845,9.3,Drama
1,0068646,The Godfather,1972-09-21,175,USA,R,Francis Ford Coppola,$ 246120974,1.572.674,9.2,Crime
2,0468569,The Dark Knight,2008-07-23,152,US,PG-13,Christopher Nolan,$ 1005455211,2.241.615,9.,Action
3,0071562,The Godfather: Part II,1975-09-25,220,USA,R,Francis Ford Coppola,"$ 4o8,035,783",1.098.714,"9,.0",Crime
4,0110912,Pulp Fiction,1994-10-28,,USA,R,Quentin Tarantino,$ 222831817,1.780.147,"8,9f",Crime
...,...,...,...,...,...,...,...,...,...,...,...
96,0070735,The Sting,1974-03-21,129,USA,PG,George Roy Hill,$ 156000000,236.285,7.5,Comedy
97,0082096,Das Boot,1982-03-18,149,West Germany,R,Wolfgang Petersen,$ 11487676,226.427,7.5,Adventure
98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,132,Italy,NaN,Sergio Leone,$ 15000000,226.039,7.4,Western
99,1832382,Jodaeiye Nader az Simin,2011-10-21,123,Iran,PG-13,Asghar Farhadi,$ 22926076,214.165,7.4,Drama
100,0045152,Singin' in the Rain,1953-02-05,103,USA,NaN,Stanley Donen,$ 1864182,213.152,7.4,Comedy

In [135]:
df2.income

0         $ 28815245
1        $ 246120974
2       $ 1005455211
3      $ 4o8,035,783
4        $ 222831817
           ...
96       $ 156000000
97        $ 11487676
98        $ 15000000
99        $ 22926076
100        $ 1864182
Name: income, Length: 101, dtype: object

In [204]:
 df2['income'] = df2['income'].str.replace('$', '')

C:\Users\USER\AppData\Local\Temp\ipykernel_18800\3921463750.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2['income'] = df2['income'].str.replace('$', '')

In [137]:
df2

,imdb_title_id,original_title,release_year,duration,country,content_rating,director,income,votes,score,genre_new
0,0111161,The Shawshank Redemption,1995-02-10,142,USA,R,Frank Darabont,28815245,2.278.845,9.3,Drama
1,0068646,The Godfather,1972-09-21,175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2,Crime
2,0468569,The Dark Knight,2008-07-23,152,USA,PG-13,Christopher Nolan,1005455211,2.241.615,9.,Action
3,0071562,The Godfather: Part II,1975-09-25,220,USA,R,Francis Ford Coppola,"4o8,035,783",1.098.714,"9,.0",Crime
4,0110912,Pulp Fiction,1994-10-28,,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f",Crime
...,...,...,...,...,...,...,...,...,...,...,...
96,0070735,The Sting,1974-03-21,129,USA,PG,George Roy Hill,156000000,236.285,7.5,Comedy
97,0082096,Das Boot,1982-03-18,149,West Germany,R,Wolfgang Petersen,11487676,226.427,7.5,Adventure
98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,132,Italy,NaN,Sergio Leone,15000000,226.039,7.4,Western
99,1832382,Jodaeiye Nader az Simin,2011-10-21,123,Iran,PG-13,Asghar Farhadi,22926076,214.165,7.4,Drama
100,0045152,Singin' in the Rain,1953-02-05,103,USA,NaN,Stanley Donen,1864182,213.152,7.4,Comedy

In [205]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_title_id   100 non-null    object
 1   original_title  100 non-null    object
 2   release_year    97 non-null     datetime64[ns]
 3   duration        99 non-null     object
 4   country         100 non-null    object
 5   content_rating  77 non-null     object
 6   director        100 non-null    object
 7   income          100 non-null    object
 8   votes           100 non-null    object
 9   score           100 non-null    object
 10  genre_new       100 non-null    object
dtypes: datetime64[ns](1), object(10)
memory usage: 8.8+ KB

In [206]:
df2['income'].describe()

count           100
unique          100
top        28815245
freq              1
Name: income, dtype: object

In [207]:
null_counts = df2.isnull().sum(axis=1)

In [208]:
row_index_with_most_nulls = null_counts.idxmax()

In [209]:
row_with_most_nulls = df2.loc[row_index_with_most_nulls]

In [210]:
row_with_most_nulls

imdb_title_id     NaN
original_title    NaN
release_year      NaT
duration          NaN
country           NaN
content_rating    NaN
director          NaN
income            NaN
votes             NaN
score             NaN
genre_new         NaN
Name: 13, dtype: object

In [212]:
df2.drop(index=row_index_with_most_nulls, inplace=True)

In [211]:
df2

,imdb_title_id,original_title,release_year,duration,country,content_rating,director,income,votes,score,genre_new
0,0111161,The Shawshank Redemption,1995-02-10,142,USA,R,Frank Darabont,28815245,2.278.845,9.3,Drama
1,0068646,The Godfather,1972-09-21,175,USA,R,Francis Ford Coppola,246120974,1.572.674,9.2,Crime
2,0468569,The Dark Knight,2008-07-23,152,USA,PG-13,Christopher Nolan,1005455211,2.241.615,9.,Action
3,0071562,The Godfather: Part II,1975-09-25,220,USA,R,Francis Ford Coppola,"4o8,035,783",1.098.714,"9,.0",Crime
4,0110912,Pulp Fiction,1994-10-28,,USA,R,Quentin Tarantino,222831817,1.780.147,"8,9f",Crime
...,...,...,...,...,...,...,...,...,...,...,...
96,0070735,The Sting,1974-03-21,129,USA,PG,George Roy Hill,156000000,236.285,7.5,Comedy
97,0082096,Das Boot,1982-03-18,149,West Germany,R,Wolfgang Petersen,11487676,226.427,7.5,Adventure
98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,132,Italy,NaN,Sergio Leone,15000000,226.039,7.4,Western
99,1832382,Jodaeiye Nader az Simin,2011-10-21,123,Iran,PG-13,Asghar Farhadi,22926076,214.165,7.4,Drama
100,0045152,Singin' in the Rain,1953-02-05,103,USA,NaN,Stanley Donen,1864182,213.152,7.4,Comedy

In [213]:
df2['votes'].describe()

count           100
unique          100
top       2.278.845
freq              1
Name: votes, dtype: object

In [214]:
df2['votes'] = df2['votes'].apply(lambda x: x.replace('.', '', 1) if isinstance(x, str) and x.count('.') == 2 else x)

In [215]:
df2

,imdb_title_id,original_title,release_year,duration,country,content_rating,director,income,votes,score,genre_new
0,0111161,The Shawshank Redemption,1995-02-10,142,USA,R,Frank Darabont,28815245,2278.845,9.3,Drama
1,0068646,The Godfather,1972-09-21,175,USA,R,Francis Ford Coppola,246120974,1572.674,9.2,Crime
2,0468569,The Dark Knight,2008-07-23,152,USA,PG-13,Christopher Nolan,1005455211,2241.615,9.,Action
3,0071562,The Godfather: Part II,1975-09-25,220,USA,R,Francis Ford Coppola,"4o8,035,783",1098.714,"9,.0",Crime
4,0110912,Pulp Fiction,1994-10-28,,USA,R,Quentin Tarantino,222831817,1780.147,"8,9f",Crime
...,...,...,...,...,...,...,...,...,...,...,...
96,0070735,The Sting,1974-03-21,129,USA,PG,George Roy Hill,156000000,236.285,7.5,Comedy
97,0082096,Das Boot,1982-03-18,149,West Germany,R,Wolfgang Petersen,11487676,226.427,7.5,Adventure
98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,132,Italy,NaN,Sergio Leone,15000000,226.039,7.4,Western
99,1832382,Jodaeiye Nader az Simin,2011-10-21,123,Iran,PG-13,Asghar Farhadi,22926076,214.165,7.4,Drama
100,0045152,Singin' in the Rain,1953-02-05,103,USA,NaN,Stanley Donen,1864182,213.152,7.4,Comedy

In [217]:
df2['votes'] = df2['votes'].apply(lambda x: str(eval('round(' + x + ')')) if pd.notnull(x) else x)

In [218]:
df2

,imdb_title_id,original_title,release_year,duration,country,content_rating,director,income,votes,score,genre_new
0,0111161,The Shawshank Redemption,1995-02-10,142,USA,R,Frank Darabont,28815245,2279,9.3,Drama
1,0068646,The Godfather,1972-09-21,175,USA,R,Francis Ford Coppola,246120974,1573,9.2,Crime
2,0468569,The Dark Knight,2008-07-23,152,USA,PG-13,Christopher Nolan,1005455211,2242,9.,Action
3,0071562,The Godfather: Part II,1975-09-25,220,USA,R,Francis Ford Coppola,"4o8,035,783",1099,"9,.0",Crime
4,0110912,Pulp Fiction,1994-10-28,,USA,R,Quentin Tarantino,222831817,1780,"8,9f",Crime
...,...,...,...,...,...,...,...,...,...,...,...
96,0070735,The Sting,1974-03-21,129,USA,PG,George Roy Hill,156000000,236,7.5,Comedy
97,0082096,Das Boot,1982-03-18,149,West Germany,R,Wolfgang Petersen,11487676,226,7.5,Adventure
98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,132,Italy,NaN,Sergio Leone,15000000,226,7.4,Western
99,1832382,Jodaeiye Nader az Simin,2011-10-21,123,Iran,PG-13,Asghar Farhadi,22926076,214,7.4,Drama
100,0045152,Singin' in the Rain,1953-02-05,103,USA,NaN,Stanley Donen,1864182,213,7.4,Comedy

In [220]:
df2['score'] = df2['score'].str.extract(r'(\d+)')

In [221]:
df2

,imdb_title_id,original_title,release_year,duration,country,content_rating,director,income,votes,score,genre_new
0,0111161,The Shawshank Redemption,1995-02-10,142,USA,R,Frank Darabont,28815245,2279,9,Drama
1,0068646,The Godfather,1972-09-21,175,USA,R,Francis Ford Coppola,246120974,1573,9,Crime
2,0468569,The Dark Knight,2008-07-23,152,USA,PG-13,Christopher Nolan,1005455211,2242,9,Action
3,0071562,The Godfather: Part II,1975-09-25,220,USA,R,Francis Ford Coppola,"4o8,035,783",1099,9,Crime
4,0110912,Pulp Fiction,1994-10-28,,USA,R,Quentin Tarantino,222831817,1780,8,Crime
...,...,...,...,...,...,...,...,...,...,...,...
96,0070735,The Sting,1974-03-21,129,USA,PG,George Roy Hill,156000000,236,7,Comedy
97,0082096,Das Boot,1982-03-18,149,West Germany,R,Wolfgang Petersen,11487676,226,7,Adventure
98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,132,Italy,NaN,Sergio Leone,15000000,226,7,Western
99,1832382,Jodaeiye Nader az Simin,2011-10-21,123,Iran,PG-13,Asghar Farhadi,22926076,214,7,Drama
100,0045152,Singin' in the Rain,1953-02-05,103,USA,NaN,Stanley Donen,1864182,213,7,Comedy

In [222]:
df2['duration'].describe()

count      99
unique     71
top       130
freq        3
Name: duration, dtype: object

In [224]:
df2['duration'] = pd.to_numeric(df2['duration'], errors='coerce')

In [172]:
df2['duration'] = df2['duration'] / 60

In [225]:
df2

,imdb_title_id,original_title,release_year,duration,country,content_rating,director,income,votes,score,genre_new
0,0111161,The Shawshank Redemption,1995-02-10,142.0,USA,R,Frank Darabont,28815245,2279,9,Drama
1,0068646,The Godfather,1972-09-21,175.0,USA,R,Francis Ford Coppola,246120974,1573,9,Crime
2,0468569,The Dark Knight,2008-07-23,152.0,USA,PG-13,Christopher Nolan,1005455211,2242,9,Action
3,0071562,The Godfather: Part II,1975-09-25,220.0,USA,R,Francis Ford Coppola,"4o8,035,783",1099,9,Crime
4,0110912,Pulp Fiction,1994-10-28,NaN,USA,R,Quentin Tarantino,222831817,1780,8,Crime
...,...,...,...,...,...,...,...,...,...,...,...
96,0070735,The Sting,1974-03-21,129.0,USA,PG,George Roy Hill,156000000,236,7,Comedy
97,0082096,Das Boot,1982-03-18,149.0,West Germany,R,Wolfgang Petersen,11487676,226,7,Adventure
98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,132.0,Italy,NaN,Sergio Leone,15000000,226,7,Western
99,1832382,Jodaeiye Nader az Simin,2011-10-21,123.0,Iran,PG-13,Asghar Farhadi,22926076,214,7,Drama
100,0045152,Singin' in the Rain,1953-02-05,103.0,USA,NaN,Stanley Donen,1864182,213,7,Comedy

In [227]:
df2['income'] = df2['income'].str.replace('4o8,035,783', '408,035,783')

In [228]:
df2

,imdb_title_id,original_title,release_year,duration,country,content_rating,director,income,votes,score,genre_new
0,0111161,The Shawshank Redemption,1995-02-10,142.0,USA,R,Frank Darabont,28815245,2279,9,Drama
1,0068646,The Godfather,1972-09-21,175.0,USA,R,Francis Ford Coppola,246120974,1573,9,Crime
2,0468569,The Dark Knight,2008-07-23,152.0,USA,PG-13,Christopher Nolan,1005455211,2242,9,Action
3,0071562,The Godfather: Part II,1975-09-25,220.0,USA,R,Francis Ford Coppola,"408,035,783",1099,9,Crime
4,0110912,Pulp Fiction,1994-10-28,NaN,USA,R,Quentin Tarantino,222831817,1780,8,Crime
...,...,...,...,...,...,...,...,...,...,...,...
96,0070735,The Sting,1974-03-21,129.0,USA,PG,George Roy Hill,156000000,236,7,Comedy
97,0082096,Das Boot,1982-03-18,149.0,West Germany,R,Wolfgang Petersen,11487676,226,7,Adventure
98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,132.0,Italy,NaN,Sergio Leone,15000000,226,7,Western
99,1832382,Jodaeiye Nader az Simin,2011-10-21,123.0,Iran,PG-13,Asghar Farhadi,22926076,214,7,Drama
100,0045152,Singin' in the Rain,1953-02-05,103.0,USA,NaN,Stanley Donen,1864182,213,7,Comedy

In [176]:
df2['income'] = pd.to_numeric(df2['income'], errors='coerce')

In [177]:
df2['income'].describe()

count    9.900000e+01
mean     2.980254e+08
std      4.381130e+08
min      5.760000e+02
25%      2.360835e+07
50%      1.089976e+08
75%      3.971993e+08
max      2.797801e+09
Name: income, dtype: float64

In [231]:
df2.duration.value_counts()

122.0    3
130.0    3
119.0    3
149.0    3
137.0    3
        ..
98.0     1
inf      1
148.0    1
96.0     1
123.0    1
Name: duration, Length: 66, dtype: int64

In [243]:
df2.country.value_counts()

USA             64
UK              12
Italy            4
Japan            4
New Zealand      3
France           3
South Korea      2
Germany          2
Brazil           1
Italy1           1
India            1
Denmark          1
West Germany     1
Iran             1
Name: country, dtype: int64

In [240]:
df2[df2.country == 'New Zeland']

,imdb_title_id,original_title,release_year,duration,country,content_rating,director,income,votes,score,genre_new
15,0167261,The Lord of the Rings: The Two Towers,2003-01-16,179.0,New Zeland,PG-13,Peter Jackson,951227416,1450,8,Action

In [242]:
df2.loc[15, 'country'] = 'New Zealand'

NameError: name 'df2' is not defined